<template name="taskSubmit">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="url">TASK</label>
            <div class="controls">
                <input name="task" id="task" type="text" value="" placeholder="Your task
" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="title">Location</label>
            <div class="controls">
                <input name="location" id="location" type="text" value="" placeholder="Location" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>