<template name="taskItem">
    <div class="post">
        <div class="post-content">
            <a href="{{pathFor 'taskPage'}}"><h3>{{name}} at {{location}}</h3></a>
        </div>
        <input id="submit" value="Push" class="btn btn-primary"/>
    </div>
</template>
